*{
/*通用选择器*/
    margin:0;
    padding:0;
    /* 内间距:   */
    list-style:none;
    /* 清除列表样式 */
}
body,html{
    width:100%;
    height:100%;
    background-color: #aacca1;
    overflow:hidden;
/*    超出部分隐藏*/
}
.jiqiren{
    display:block;
    /* 转化为块元素   */
    width:3.14rem;
    height:3.14rem;
    margin:0 auto;
    /* 外间距   */
    margin-top:2rem;
}
.box{
    width:100%;
    text-align:center;
/*  文本居中  */
    margin-top:0.6rem;
    font-size:0.32rem;
    font-weight:bold;
    color:#4B4B4A;
}

.btn1{
    width:4.72rem;
    height:0.72rem;
    background:linear-gradient(to right,#60A2FD,#7CC2FD);
    margin: 4.3rem auto 0;
    border-radius: 0.36rem;
    text-align:center;
    line-height:0.72rem;
    color:#fff;
    box-shadow:0 0.1rem 0.1rem 0 rgba(98,163,254,0.5);
}
.btn2{
    width:4.72rem;
    height:0.72rem;
    background:linear-gradient(to right,#91CC83,#A1DE51);
    border-radius: 0.36rem;
    text-align:center;
    line-height:0.72rem;
    color:#fff;
    box-shadow:0 0.1rem 0.1rem 0 rgba(144,202,130,0.5);
    margin:0.46rem auto 0;
}
.zhezhao{
    width:100%;
    height:100%;
    overflow: hidden;
    background-color:red;
    position:absolute;
    top:0;
    left:0;
    display:none;
/*    隐藏*/
}
.zhezhao .son{
    width:6.12rem;
    height:4.51rem;
    background-image:url("../img/tanchaung.png");
    background-size:6.12rem 4.51rem;
    margin:4.2rem auto 0;
    overflow: hidden;
}
.zhezhao .son .wenhao{
    width:1.05rem;
    height:0.95rem;
    display: block;
    margin:.8rem auto 0;
}
.zhezhao .son .text{
    text-align:center;
    padding:0.2rem 0;
    color:#4B4B4A;
}
.zhezhao .son .btnarea{
    width:3.6rem;
    height:0.7rem;
    margin:0 auto;
}
.zhezhao .son .btnarea .leftbtn{
    width:1.7rem;
    height:0.7rem;
    background:linear-gradient(to right,#90CB82,#A1DD50);
    border-radius: 0.35rem;
    float:left;
    text-align: center;
    line-height:0.7rem;
    color:#fff;
}

.zhezhao .son .btnarea .rightbtn{
    width:1.7rem;
    height:0.7rem;
    background-color:#F2FCF1;
    border-radius: 0.35rem;
    float:right;
    text-align: center;
    line-height:0.7rem;
    color:#95D178;
}

.tishi{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-image:url("../img/bg07.png");
    background-size:100% 100%;
}
.tishi .text1{
    margin-top:6.5rem;
    text-align: center;
    color:#4B4B4A;
    padding:0.1rem 0;
}
.tishi .text2{
    text-align: center;
    color:#4B4B4A;
}
.tishi .tsbtn{
    width:3.02rem;
    height:0.6rem;
    background:linear-gradient(to right,#E8AB38,#F2CB41);
    margin:3rem auto 0;
    border-radius: 0.3rem;
    text-align: center;
    line-height: 0.6rem;
    color:#fff;
}






