<!doctype html>
<html lang="en" rem="750">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>采集人脸</title>
    <link rel="stylesheet" href="../static/css/u-reset.min.css">
    <link rel="stylesheet" href="../static/css/face1.css">
    <script src="../static/js/jquery.js"></script>
</head>
<body>
    <div class="touxiang">
        <video src="" autoplay></video>
    </div>

    <div class="tishi1">正脸对准屏幕</div>
    <div class="tishi2">
        <div class="top">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </div>
        <div class="bottom">识别中,别着急</div>
    </div>

    <div class="zhezhao">
        <div class="son">
            <img class="wenhao" src="../static/img/wenhao.png" alt="">
            <div class="text">头像拍摄已完成</div>
            <div class="btnarea">
                <div class="leftbtn">确认</div>
            </div>
        </div>
    </div>

</body>

<script>
    let video = $("video");
    let tishi1 = $(".tishi1");
    let tishi2 = $(".tishi2");

    navigator.mediaDevices.getUserMedia({
        video:{
            width:190,
            height:250,
        }
    }).then(function(data){
        video[0].srcObject = data
    });

    setTimeout(function(){
        tishi1.css("display","none");
        tishi2.css("display","block")
    },2000)
</script>
</html>