<!doctype html>
<html lang="en" rem="750">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>识别人脸</title>
    <link rel="stylesheet" href="../static/css/u-reset.min.css">
    <link rel="stylesheet" href="../static/css/face1.css">
    <script src="../static/js/jquery.js"></script>
</head>
<body>
    <div class="touxiang">
        <video src="" autoplay></video>
    </div>

    <div class="tishi1">正脸对准屏幕</div>
    <div class="tishi2">
        <div class="top">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </div>
        <div class="bottom">识别中,别着急</div>
    </div>

    <div class="zhezhao">
        <div class="son">
            <img class="wenhao" src="../static/img/wenhao.png" alt="">
            <div class="text">头像拍摄已完成</div>
            <div class="btnarea">
                <div class="leftbtn">确认</div>
            </div>
        </div>
    </div>
    <canvas width="190" height="250"></canvas>
</body>

<script>
    let video = $("video");
    let tishi1 = $(".tishi1");
    let tishi2 = $(".tishi2");
    let canvas = $("canvas");
    let zhezhao = $(".zhezhao");
    let leftbtn = $(".leftbtn");
    let url = "/error";
    let name = "";
    leftbtn.click(function(){
        location.href = url
        if(url=="/success"){
            let speech = window.speechSynthesis;
            let speechset = new SpeechSynthesisUtterance();
            speechset.text = name+",你好。道路千万条,学习第一条。学习不努力,工作不顺利。";
            speech.speak(speechset)
        }
    });

    cobj = canvas[0].getContext("2d");

    navigator.mediaDevices.getUserMedia({
        video:{
            width:190,
            height:250,
        }
    }).then(function(data){
        video[0].srcObject = data;
    });
    let flag = true;
    video[0].onprogress = function(){
        if(flag){
            flag = false;
            cobj.drawImage(video[0],0,0);
            let data = canvas[0].toDataURL("image/jpeg",0.7).substr(23);

            $.ajax({
                url:"/check",
                type:'post',  //get
                dataType:"json",
                data:{url:data,name:localStorage.name},
                success:function(data){
                    console.log(data);
                    if(data['error_msg']){
                        flag = true
                    }else{
                        let scores = data['result'][0]['scores'][0]
                        name = data['result'][0]['user_info'];
                        zhezhao.css("display",'block');
                        if(scores>90){
                            url = "/success"
                        }else{
                            url = "/error"
                        }
                    }

                }
            });



        }
    };


    setTimeout(function(){
        tishi1.css("display","none");
        tishi2.css("display","block")
    },2000)
</script>
</html>