<!doctype html>
<html lang="en" rem="750">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/u-reset.min.css">
</head>
<body>
    <img class="jiqiren" src="../static/img/jiqiren.png" alt="">
    <div class="box">
        吕梁学院物理系人脸识别项目
    </div>
</body>
</html>