<!doctype html>
<html lang="en" rem="750">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/u-reset.min.css">
    <script src="../static/js/jquery.js"></script>
</head>
<body>
    <img class="jiqiren" src="../static/img/jiqiren.png" alt="">
    <div class="box">
        吕梁学院物理系人脸识别项目
    </div>
    <div class="btn1">手动登录</div>
    <div class="btn2">人脸识别</div>

    <div class="zhezhao">
        <div class="son">
            <img class="wenhao" src="../static/img/wenhao.png" alt="">
            <div class="text">您确定进行人脸识别吗？</div>
            <div class="btnarea">
                <div class="leftbtn">确认</div>
                <div class="rightbtn">取消</div>
            </div>
        </div>
    </div>

    <div class="tishi">
        <div class="text1">请将音量调到适中</div>
        <div class="text2">并根据语音提示完成动作</div>
        <div class="tsbtn">
            我知道了
        </div>
    </div>
</body>
<script>
    let btn2 =  $(".btn2"); //获取btn2
    let zhezhao = $(".zhezhao");
    let rightbtn = $(".rightbtn");

    btn2.click(function(){  //btn2添加点击事件
        //alert(123)          //弹出123
        zhezhao.css("display","block")
    })
    rightbtn.click(function(){
        zhezhao.css("display","none")
    })


</script>
</html>