<!doctype html>
<html lang="en" rem="750">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>成功页</title>
    <link rel="stylesheet" href="../static/css/u-reset.min.css">
    <link rel="stylesheet" href="../static/css/success.css">
    <script src="../static/js/jquery.js"></script>
</head>
<body>
    <div class="btn">返回首页</div>
</body>
<script>
    let btn = $(".btn");
    btn.click(function(){
        location.href="index.html"
    })
</script>
</html>