<!doctype html>
<html lang="en" rem="750">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    <link rel="stylesheet" href="../static/css/u-reset.min.css">
    <link rel="stylesheet" href="../static/css/zhuce.css">
    <script src="../static/js/jquery.js"></script>
</head>
<body>
    <div class="touxiang">
        <div class="touxiangimg"></div>
        <div class="box1"></div>
        <div class="box2"></div>
        <div class="box3"></div>
    </div>
    <div class="text1">请通过人脸识别验证您的身份</div>
    <div class="text2">请按照以下步骤完成脸部验证</div>
    <div class="input">
        <div class="dian"></div>
        <input type="text" placeholder="请输入您的名字">
        <div class="del">×</div>
    </div>

    <div class="btn">开始识别</div>

</body>
<script>
    let input = $("input");
    let btn = $(".btn");
    let del = $(".del");
    let flag = false;
    input.val("");

    input.on("input",function(){
        let text = $(this).val()  // 输入框的内容
        if(text!=""){
            btn.css({
                "background":"linear-gradient(to right,#60A2FD,#7CC2FD)",
                "color":"#fff",
                "box-shadow":"0 0.1rem 0.1rem 0 rgba(98,163,254,0.5)"
            })
            flag = true
            del.css("display","block")

        }else{
            btn.css({
                "background":"#ccc",
                "color":"#333",
                "box-shadow":"none"
            })
            flag = false
            del.css("display","none")
        }
    })

    btn.click(function(){
        if(flag){
            window.localStorage.name = input.val();
            location.href="https://www.baidu.com"
        }
    });

    del.click(function(){
        input.val("");
        del.css("display","none");
        btn.css({
            "background":"#ccc",
            "color":"#333",
            "box-shadow":"none"
        });
        flag = false
    })
</script>
</html>